<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/front-end/Icons/LogoColoridoSemFundo.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="Css/Cabecalho.css">
    <link rel="stylesheet" href="Css/EstruturaPrincipal.css">
    <link rel="stylesheet" href="Css/Footer.css">
    <title>Avaliação</title>
</head>

<body>
    <header id="cabecalho" aria-orientation="horizontal">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <!--Tirei essa classe: bg-light para aplicar a cor ||| Troquei navbar-light por navbar-dark para os textos ficarem brancos -->
            <div class="container-fluid ">
                <a class="navbar-brand" href="PaginaPrincipal.html"><img src="/front-end/Image/UfsLogo.png"
                        class="imagem" alt="LogoUfs"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <!--Para alinhar na direita o nav-->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="PaginaPrincipal.html">Página
                                Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="Perfil.html">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="Ajuda.html">Ajuda</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="corpo">
        <div class="text-center">
            <h1>Formulário de Avaliação</h1>
        </div>
        <p>Numeros de critérios a serem avaliados: </p>
        <!-- 
		<div id="" name="topico" class="topico text-center">
            <h3>1. Nome do tópico</h3>
                <h4 class="text-start ms-3 me-3">Criterio x</h4>
                    <div class="row g-3 align-items-center ms-3 me-3 mt-2">
                        <div class="col-auto">
                            <label for="nota" class="col-form-label">Nota:</label>
                        </div>
                        <div class="col-auto">
                            <input type="number" id="nota" class="form-control" max="10" min="0">
                        </div>
                        <div class="col-auto">
                            <span id="valueHelpInline" class="form-text">
                                Valores de 0 - 10.
                            </span>
                        </div>
                    </div>
		</div> 
		-->
        <div id="enviar_div_button" class="text-center">
            <input id="enviar_formulario_button" type="submit" class="btn btn-primary" value="Enviar" ></input>
        </div>
        <footer id="rodape">
            &copy; Copyright 2022 - by Erick Santos, Igor Primo e Valmir Cunha
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
	<script src="scripts/avaliacao.js"></script>
</body>

</html>
