<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Icons/LogoColoridoSemFundo.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/View/Css/Cabecalho.css">
    <link rel="stylesheet" href="/View/Css/EstruturaPrincipal.css">
    <link rel="stylesheet" href="/View/Css/Footer.css">
    <link rel="stylesheet" href="/View/Css/CadastroFormularioAvaliacao.css">
    <title>Cadastro Formulario</title>
</head>

<body>
    <header id="cabecalho" aria-orientation="horizontal">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <!--Tirei essa classe: bg-light para aplicar a cor ||| Troquei navbar-light por navbar-dark para os textos ficarem brancos -->
            <div class="container-fluid ">
                <a class="navbar-brand" href="/View/PaginaPrincipal.html"><img src="/Image/UfsLogo.png" class="imagem"
                        alt="LogoUfs"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <!--Para alinhar na direita o nav-->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/View/PaginaPrincipal.html">Página
                                Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="CadastroDisciplina.html">Cadastrar Disciplina</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="Perfil.html">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="Ajuda.html">Ajuda</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="corpo">
        <h1 style="text-align: center;">Cadastrar Formulário</h1>
        <button type="button" onclick="adicionarTopico()">Adicionar Tópico</button>
        <form action="http://127.0.0.1:5000" id="formularioTopico">
            <div id="formularioAvaliacaoProjeto">
                <div id="topico">
                    <div class="nomeTopico">
                        <label for="Nome do tópico">Nome do tópico:</label>
                        <input type="text" name="nomeTopico" class="nomeTopico">
                    </div>
                    <div id="criterio">
                        <label for="nomeCriterio">Nome do criterio:</label>
                        <input type="text" name="nomeCriterio" id="nomeCriterio">
                        <button type="button" onclick="adicionarCriterio(this)">+</button>
                    </div>
                </div>
            </div>
            <button class="voltar">Voltar</button>
            <button type="submit" class="cadastrar">Cadastrar</button>
        </form>

        <footer id="rodape">
            &copy; Copyright 2022 - by Erick Santos, Igor Primo e Valmir Cunha
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
        <script>

			const form = document.forms['formularioTopico'];
			form.addEventListener('submit', handle_submit);

			function handle_submit(e){
				e.preventDefault();

				let array_to_send = [];

                const topicos = document.getElementsByTagName("div");
				for(let i=0;i<topicos.length;i++)
					if(topicos[i].id === 'topico'){
						const topic_name = topicos[i].children[0].children[1].value;
						//console.log(topic_name);
						array_to_send.push(topic_name);
						const criterios = topicos[i].children;
						let array_criterios = [];
						for(let j=0;j<criterios.length;j++)
							if(criterios[j].id === 'criterio'){
								console.log(criterios[j].children[1].value);
								const criterio = criterios[j].children[1].value;
								array_criterios.push(criterio);
							}
						array_to_send.push(array_criterios);
				}
				console.log(array_to_send);
			}

            function adicionarTopico() {
                const tag = document.getElementById('formularioAvaliacaoProjeto');
				console.log(tag);
				let html = 
				`<div id="topico"> 
					<div class="nomeTopico"> 
						<label for="Nome do tópico">
							Nome do tópico:
						</label> 
						<input type="text" name="nomeTopico" class="nomeTopico"/> 
						<button type="button" onclick="removerTopico(this)">
							Remover tópico
						</button> 
					</div> 
					<div id="criterio">  
						<label for="nomeCriterio">
							Nome do criterio:
						</label>
						<input type="text" name="nomeCriterio" id="nomeCriterio"/> 
						<button type="button" onclick="adicionarCriterio(this)"> 
							+ 
						</button>  
					</div> 
				</div>`;
                const new_topic = document.createElement("topico");
				new_topic.innerHTML = html;
				tag.appendChild(new_topic);
            }

            function removerTopico(elem) {
				console.log(elem);
				console.log(elem.parentNode.parentNode);
				const to_delete = elem.parentNode.parentNode;
				to_delete.parentNode.removeChild(to_delete);
            }

            function adicionarCriterio(elem) {
				console.log(elem);
				console.log(elem.parentNode.parentNode);
				const add_to = elem.parentNode.parentNode;
                let html = 
					`<label for="nomeCriterio">
							Nome do criterio:
						</label> 
						<input type="text" name="nomeCriterio" id="nomeCriterio"/> 
						<button type="button" onclick="removerCriterio(this)">
							- 
						</button>`;
				const new_el = document.createElement("div");
				new_el.setAttribute('id', 'criterio');
				new_el.innerHTML = html;
                add_to.appendChild(new_el);
            }

            function removerCriterio(elem) {
				console.log(elem);
				console.log(elem.parentNode);
				const to_delete = elem.parentNode;
				to_delete.parentNode.removeChild(to_delete);
            }

        </script>
</body>

</html>
