@charset "UTF-8";
.cabecalho{
    max-height: 90px;
}

.navbar{
    /* background-color: #0000CD; */
    background-color: #4169E1;
    /* background-color: #483D8B; */
    /* background-color: #191970; */
}

.imagem{
    object-fit: cover;
    width: 150px;
}