.formularioAvaliacaoProjeto{
    border-top: 1px solid;
}

input,
button {
    border-radius: 5px;
}

.nomeTopico,
.criterio {
    margin-top: 1em;
}

button,
input[type="button"]{
    position: relative;
    font-size: 10pt;
    margin-top: 2em;
    background-color: blue;
    color: #dddddd;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;            /*top,right,bottom,left*/  
    cursor: pointer;
}

label{
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 0.5em;
}

button.voltar {
    margin-left: 20%;
}

.cadastrar {
    margin-left: 15%;
}