.formularioProjeto, .formularioGrupo {
    margin-left: 20%;
    margin-top: 3%;
    display: block;
}

.campo {
    margin-bottom: 1em;
}

label{
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 0.5em;
}

.cadastrar {
    margin-left: 15%;
}