@charset "UTF-8";

*{
    margin: 0;
}

body{
    background-color: #ffffff;
}

div#corpo{
    position: absolute; 
	left: 450px; /* posiciona a 90px para a esquerda */ 
	top: 120px; /* posiciona a 70px para baixo */
    max-width: 1000px;
    background-color: #4169E1;  
    color: #ffffff;
    border-radius: 8px;
    padding: 1em;
}

form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
}

form div + div {
    margin-top: 1.5em;
}
