form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
}

form div + div {
    margin-top: 1.5em;
}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: left;
}

input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 0.8em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0.5em;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
}
  
#checkbox{
    font: 5em sans-serif;
  }