@charset "UTF-8";

.Disciplinas {
  width: 50vw;
  /*"vw" = view width , quanto do tamanho da tela*/
  margin: 10;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}

.card{
  margin: 10px;
}

.imagemDisciplina{
  padding: 10px;
}
