
footer#rodape {
    text-align: center;
    /* border-top: 1px #606060 solid ; */
    padding: 10px;
    margin-top: 2em;
}

footer#rodape a{
    text-decoration: none;
    transition: background-color 1s;
}

footer#rodape a:hover{
    color: #606060;
}

