<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Icons/LogoColoridoSemFundo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/View/Css/Cabecalho.css">
    <title>Ajuda</title>
</head>
<body>
    <header id="cabecalho" aria-orientation="horizontal">
        <a href="/View/PaginaPrincipal.html">
            <img src="/Image/UfsLogo.png" class="imagem" alt="LogoUfs" >
        </a>
        <nav id="menu" > 
            <ul>
                <li><a href="">Entrar</a></li> 
            </ul>
    </nav>
    </header>
</body>
</html>