<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Icons/LogoColoridoSemFundo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/View/Css/Cabecalho.css">
    <link rel="stylesheet" href="/View/Css/EstruturaPrincipal.css">
    <link rel="stylesheet" href="/View/Css/Footer.css">
    <link rel="stylesheet" href="/View/Css/Ajuda.css">
    <title>Ajuda</title>
</head>

<body>
    <header id="cabecalho" aria-orientation="horizontal">
        <a href="/View/PaginaPrincipal.html">
            <img src="/Image/UfsLogo.png" class="imagem" alt="LogoUfs">
        </a>
        <nav id="menu">
            <ul>
                <li><a href="">Entrar</a></li>
            </ul>
        </nav>
    </header>
    <div id="corpo">
        <article>
            <h1>Ajuda</h1>
            <section>
                <h2>Login:</h2>
                <p>Para realizar o login no site é necessário estar cadastrado como aluno ou professor, para isso,
                    clique na
                    opção "Cadastrar" no canto superior direito.
                </p>
                <p>Após cadastro, para realizar o login, utilize o email e senha definidos.</p>

            </section>
            <section>
                <h2>Cadastro Usuário:</h2>
                <p>Para realizar o cadastro é necessário informar seu nome completo, email, senha, se é aluno ou
                    professor e sua matricula, após o preenchimento de todos os campos, é sói clicar no botão de
                    cadastrar</p>
            </section>

            <section>
                <h2>Cadastro Disciplina:</h2>
            </section>


        </article>
            <!-- <input type="radio" name="cargo" id="professor">
            <label for="professor">Professor</label> 
            <br>
            <input type="radio" name="cargo" id="aluno">
            <label for="aluno">Aluno</label> -->
        
        <footer id="rodape">
            &copy; Copyright 2022 - by Erick Santos, Igor Primo e Valmir Cunha
        </footer>
    </div>
</body>
</html>