<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Icons/LogoColoridoSemFundo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <!--Google icons-->
    <link rel="stylesheet" href="/View/Css/Cabecalho.css">
    <link rel="stylesheet" href="/View/Css/EstruturaPrincipal.css">
    <link rel="stylesheet" href="/View/Css/Footer.css">
    <link rel="stylesheet" href="/View/Css/EstiloFormulario.css">
    <link rel="stylesheet" href="/View/Css/Tabela.css">
    <title>Cadastro Grupo</title>
</head>

<body>
    <header id="cabecalho" aria-orientation="horizontal">
        <a href="/View/PaginaPrincipal.html">
            <img src="/Image/UfsLogo.png" class="imagem" alt="LogoUfs">
        </a>
        <nav id="menu">
            <!-- Determina um menu de navegação, tudo que estiver dentro dessa tag será considerada parte do menu -->
            <ul>
                <li><a href="PaginaPrincipal.html">Página principal</a></li>
                <li><a href="Perfil.html">Perfil</a></li>
            </ul>
        </nav>
    </header>
    <div id="corpo">
        <h1 style="text-align: center;">Cadastra Projeto</h1>
        <div class="formularioGrupo">
            <form action="">
                <div class="campo">
                    <label for="nomeProjeto">Tema do grupo:</label>
                    <input type="text" class="nomeProjeto">
                </div>
                <div class="campo">
                    <label for="dataApresentacao">Data de apresentação:</label>
                    <input type="date" name="data" id="dataApresentacao">
                </div>
                <div class="campo">
                    <label for="integrante">Integrante:</label>
                    <input type="text" name="data" id="integrante" placeholder="Digite o usuário do aluno">
                    <input type="button" value="Adicionar">
                </div>
                <label for="">Lista de integrantes:</label>
                <div class="tabelaIntegrantes">
                    <table id="tabela">
                        <tr class="titulos">
                            <!--Linha-->
                            <th>Usuário</th>
                            <th>Nome</th>
                            <th>Remover</th>
                        </tr>
                        <tr>
                            <!--Linha-->
                            <td>usuariox</td>
                            <td>Fulano de tal</td>
                            <!-- <td><input type="button" value="Delete" onclick="deleteRow(this.parentNode.parentNode.rowIndex)"></td> -->
                            <td><span class="material-icons-outlined btnRemover"
                                    onclick="deleteRow(this.parentNode.parentNode.rowIndex)">close</span></td>
                        </tr>
                        <tr>
                            <!--Linha-->
                            <td>usuariox</td>
                            <td>Fulano de tal</td>
                            <td><span class="material-icons-outlined btnRemover"
                                    onclick="deleteRow(this.parentNode.parentNode.rowIndex)">close</span></td>
                        </tr>
                        <tr>
                            <!--Linha-->
                            <td>usuariox</td>
                            <td>Fulano de tal</td>
                            <td><span class="material-icons-outlined btnRemover"
                                    onclick="deleteRow(this.parentNode.parentNode.rowIndex)">close</span></td>
                        </tr>
                    </table>
                </div>
            </form>
            <button class="voltar">Voltar</button>
            <button class="cadastrar">Cadastrar</button>
        </div>
        <footer id="rodape">
            &copy; Copyright 2022 - by Erick Santos, Igor Primo e Valmir Cunha
        </footer>

        <script>
            function deleteRow(i) {
                document.getElementById('tabela').deleteRow(i)
                // var tabela = document.getElementById('tabela').style.display;
                // var tamanhoTabela = document.getElementById('tabela').rows.length;
                // console.log(tamanhoTabela);
                // if(tamanhoTabela === 1){
                //     tabela.style.display = 'none';
                // }
            }
        </script>
</body>

</html>