<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/View/Css/PaginaPrincipal.css">
    <title>Página principal</title>
</head>
<body>
    <header id="cabecalho" aria-orientation="horizontal">
        <img src="/Image/UfsLogo.png" class="imagem" alt="LogoUfs" >
        <nav id="menu" > <!-- Determina um menu de navegação, tudo que estiver dentro dessa tag será considerada parte do menu -->
            <ul>
                <li>Cadastrar Disciplina</li> 
                <li><i class='fa fa-user-circle-o'></i></li>
            </ul>
    </nav>
    </header>
    <h1>Disciplinas:</h1>
</body>
</html>