<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/View/Css/PaginaPrincipal.css">
    <title>Página principal</title>
</head>
<body>
    <header id="cabecalho" aria-orientation="horizontal">
        <img src="/Image/UfsLogo.png" class="imagem" alt="LogoUfs" >
        <nav id="menu" > <!-- Determina um menu de navegação, tudo que estiver dentro dessa tag será considerada parte do menu -->
            <ul>
                <li><a href="CadastroDisciplina.html">Cadastrar Disciplina</a></li> 
                <li><a href="Perfil.html">Perfil</a></li> 
            </ul>
    </nav>
    </header>
    <div id = "corpo">
        <h1>Disciplinas:</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis odit obcaecati iusto amet fugiat quos ad expedita dicta saepe corporis natus architecto impedit eos modi, dolore enim, cupiditate ipsum sunt?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis odit obcaecati iusto amet fugiat quos ad expedita dicta saepe corporis natus architecto impedit eos modi, dolore enim, cupiditate ipsum sunt?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis odit obcaecati iusto amet fugiat quos ad expedita dicta saepe corporis natus architecto impedit eos modi, dolore enim, cupiditate ipsum sunt?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis odit obcaecati iusto amet fugiat quos ad expedita dicta saepe corporis natus architecto impedit eos modi, dolore enim, cupiditate ipsum sunt?</p>
        
    </div>
</body>
</html>