<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Icons/LogoColoridoSemFundo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/View/Css/PaginaPrincipal.css">
    <link rel="stylesheet" href="/View/Css/CardDiciplina.css">
    <title>Página principal</title>
</head>
<body>
    <header id="cabecalho" aria-orientation="horizontal">
        <img src="/Image/UfsLogo.png" class="imagem" alt="LogoUfs" >
        <nav id="menu" > <!-- Determina um menu de navegação, tudo que estiver dentro dessa tag será considerada parte do menu -->
            <ul>
                <li><a href="CadastroDisciplina.html">Cadastrar Disciplina</a></li> 
                <li><a href="Perfil.html">Perfil</a></li> 
            </ul>
    </nav>
    </header>
    <div id = "corpo">
        <h1>Disciplinas:</h1>
        <section class="Disciplinas" id="Disciplinas">
            <div class="cardsDisciplinas">
                <img src="/Image/ufs_colorido_horizontal_positiva-830x370.png" class="imagemDisciplina" alt="Imagem">
                <div class="conteudoCard">
                    <h4>Nome Disciplina</h4>
                    <p>Professor(a): Fulano</p>
                    <button>Entrar</button>
                </div>
            </div>
        </section>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis odit obcaecati iusto amet fugiat quos ad expedita dicta saepe corporis natus architecto impedit eos modi, dolore enim, cupiditate ipsum sunt?</p>
        <footer id = "rodape">
            &copy; Copyright 2021 - by Erick Santos, Igor Primo e Valmir Cunha
        </footer>
    </div>
</body>
</html>