<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Icons/LogoColoridoSemFundo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"> <!--Google icons-->
    <link rel="stylesheet" href="/View/Css/Cabecalho.css">
    <link rel="stylesheet" href="/View/Css/EstruturaPrincipal.css">
    <link rel="stylesheet" href="/View/Css/CardGrupo.css">
    <link rel="stylesheet" href="/View/Css/Footer.css">
    <link rel="stylesheet" href="/View/Css/MenuLateral.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Projeto</title>
</head>
<body>
    <header id="cabecalho" aria-orientation="horizontal">
        <a href="/View/PaginaPrincipal.html">
            <img src="/Image/UfsLogo.png" class="imagem" alt="LogoUfs">
        </a>
        <nav id="menu">
            <!-- Determina um menu de navegação, tudo que estiver dentro dessa tag será considerada parte do menu -->
            <ul>
                <li><a href="PaginaPrincipal.html">Página principal</a></li>
                <li><a href="Perfil.html">Perfil</a></li>
            </ul>
        </nav>
    </header>
    <div class="btnAbrirMenu"><span class="material-icons-outlined">menu</span></div>
    <nav class="menuLateral">
        <div class="tituloMenu">Menu <span class="material-icons-outlined  btnFecharMenu">close</span></div>
        <ul>
            <li><a href="">Editar Projeto</a></li> 
            <li><a href="">Editar formulário de avaliação</a></li> 
            <li><a href="">Editar avaliadores</a></li> 
            <li><a href="">Convidar avaliadores</a></li> 
            <li><a href="">Iniciar Periodo de avaliação</a></li> 
            <li><a href="">Finalizar Periodo de avaliação</a></li> 
            <li><a href="">Encerrar Projetos</a></li> 
        </ul>
    </nav>
    <div id="corpo">
        <h1 style="text-align: center;">Projeto X</h1>
        <section class="Grupos">
            <div class="cardsGrupos">
                <div class="conteudoCard">
                    <ul >
                        <li>
                            <a href="">
                                <h5>Tema: Nome do tema</h5>
                            </a>
                        </li>
                        <li>
                            <button>Avaliar</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cardsGrupos">
                <div class="conteudoCard">
                    <ul >
                        <li>
                            <a href="">
                                <h5>Tema: Nome do tema</h5>
                            </a>
                        </li>
                        <li>
                            <button>Avaliar</button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <button class="voltar">Voltar</button>
        <button class="avaliacoes">Vizualizar avaliações</button>
        <footer id="rodape">
            &copy; Copyright 2021 - by Erick Santos, Igor Primo e Valmir Cunha
        </footer>
    </div>
    <script src="/Controller/ControllerMenuLateral.js"></script>
</body>
</html>